body {
    font-family: Arial, sans-serif;
    background-color: #e8f9e8; 
}

form {
    background-color: rgba(255, 255, 255, 0.795); 
    padding: 25px; 
    margin: 40px auto; 
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
    max-width: 450px; 
}

input[type="text"], textarea {
    width: 100%; 
    padding: 12px; 
    margin: 10px 0 20px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

textarea {
    height: 120px; 
    resize: vertical;
}

textarea:focus, input[type="text"]:focus {
    border-color: #59f55e; 
    outline: none;
    box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.2); 
}

input[type="file"] {
    display: none;
}

label[for="imageUpload"] {
    display: inline-block;
    padding: 8px 15px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    color: #666;
    font-weight: bold;
    margin-top: 10px;
}

label[for="imageUpload"]:hover {
    border-color: #888;
    background-color: #f9f9f9;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative; 
    left: 185px;
}

input[type="submit"]:hover {
    background-color: #3a9e3f;
}