@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    font-family: "Ubuntu", sans-serif;
}

:root{
    --modal-duration: 1s;
}

.modal-title {
    margin: auto;
}

.modal-container {
    background-color: rgba(0, 0, 0, .6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
}

.modal-container.show-modal {
    display: block;
    animation: fadeIn var(--modal-duration) ease;
}

.modal-form label{
    font-size: 15px;
}

.modal {
    background-color: rgb(255, 255, 255); 
    padding: 25px; 
    margin: 40px auto; 
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
    max-width: 450px;
    transform: translatey(17%);
}

.modal h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 28px;
}

.modal-form div {
    margin: 10px 0;
}

.modal-form label {
    margin: 10p;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px;
}

.modal-form input {
    padding: 8px;
    width: 100%;   
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-form textarea:focus, .modal-form input:focus {
    outline: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 0 1px #59f55e3d;
}

.close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: #4CAF50;
}

.close-btn:hover {
    color: #54c75a;
}

.modal-container .submit-btn {
    background: var(--green-500);
    font-weight: bold;
    background: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
    font-size: 15px;
}

.modal-container .submit-btn:hover {
    background: #45a049;
}

textarea {
    transform: translateY(-7px);
    width: 100%;
    height: 80px;
    max-height: 300px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 5px;
    line-height: 1.3; 
    padding: 8px; 
}

#attachment {
    border: none;
    pointer-events: none;
}

#attachment::file-selector-button {
    pointer-events: auto;
    position: relative;
    left: -8px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    background: #2125292d; 
    color: #5f5e5e;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#attachment::file-selector-button:hover {
    background: #21252949; 
    color: #555555;
}

#attachment-preview {
        button {
        position: relative;
        bottom: 20px;
        left: 8px;
        font-size: 12px;
        font-weight: bold;
        border: none;
        background: #2125292d; 
        color: #5f5e5e;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

    button:hover {
            background: #21252949; 
            color: #555555;
        }
}

#curr-attachment {
    max-height: 50px;
}

