@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

body {
    background: #f0f2f5;
    min-height: 100vh;
}

.dear-header {
    background: #179AEB;
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    position: sticky;   /* 🔥 AQUI */
    top: 0;             /* 🔥 AQUI */
    z-index: 1000;      /* 🔥 AQUI */
}

.dear-header header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-post button{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 10px 22px;
    border-radius: 999px;
    border: none;
    font-size: 14px;
    font-weight: bolder;
    color: #fff;
    background: #179AEB;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: background 0.2s;
}

.create-post button:hover {
    background-color: #147dbf;
}