/* src/components/ProtectedLayout.css */

.protected-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9; /* світлий фон для всіх захищених сторінок */
}

.protected-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f46e5; /* фіолетовий header */
  color: white;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.protected-content {
  flex: 1;
  padding: 2rem;
}
